body{
  background-image: url("/assets/img/burger4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
 
  
}
h2{
  padding-top: 20px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


.title{
  color: black;
  text-align: center;
  padding-top: 50px;
  background-image: "../public/assets/img/burger1.jpg";
}